{% extends "ov/base.html" %}
{% load static %}

{% block title %}
    <title>Change Password</title>
{% endblock title %}

{% block content %}
    <div class="main-content">
        <div class="profile-page change-password change-password-panel">
            <form name="resetform" method="post">
                <div class="form-group profile-title">Change password</div>
                <div class="form-group profile-msg hide"><i class="fa fa-warning"></i> {{ msg }}</div>
                <div class="form-group">
                    <label>Old password</label>
                    <input type="Password" name="old_password" class="form-control" placeholder="Enter here" autofocus>
                </div>
                <div class="form-group">
                    <label>New password</label>
                    <input type="Password" name="password" class="form-control" placeholder="Enter here">
                </div>
                <div class="form-group">
                    <label>Repeat new password</label>
                    <input type="Password" name="repeat_password" class="form-control" placeholder="Enter here">
                </div>
                <div class="form-group row change-password-action">
                    <a href="{% url "profile" %}" class="back-profile">
                        <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 1L1.14142 7.85858C1.06332 7.93668 1.06332 8.06332 1.14142 8.14142L8 15"
                                  stroke="#01C579" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                        Back to Profile
                    </a>
                    <a href="javascript:submit_form();" class="change-paddword">Change Password</a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script>
        $(document).ready(function () {

            {% if msg %}
                $(".profile-msg").removeClass("hide");

                setTimeout(function () {
                    $(".profile-msg").addClass("hide");
                }, 3000);
            {% endif %}
        });

        function submit_form() {
            var old_password = document.getElementsByName('old_password')[0].value;
            var password = document.getElementsByName('password')[0].value;
            var repeat_password = document.getElementsByName('repeat_password')[0].value;

            if (old_password === '') {
                document.getElementsByName('old_password')[0].focus();
                return;
            }

            if (password === '') {
                document.getElementsByName('password')[0].focus();
                return;
            }

            if (repeat_password === '') {
                document.getElementsByName('repeat_password')[0].focus();
                return;
            }

            if (password !== repeat_password) {
                swal('Error!', 'Password and repeat password need to be same!', 'error');
                return;
            }

            document.resetform.submit();
        }
    </script>
{% endblock javascript %}