{% extends "ov/base.html" %}
{% load static %}

{% block title %}
    <title>Users</title>
{% endblock title %}

{% block content %}
    <div class="main-content">
        <div class="user-edit-panel into-border">
            <h3 class="user-title">Setting</h3>
            <div class="user-dashboard-title" style="min-height: 30px">
            </div>
        </div>
        <div class="edit-user change-password change-password-panel">
            <form id="setting_form">
                <div class="row m-0">
                    <div class="col-lg-12">
                        <span>
                            <h6 class="externel-title">Server Configuration Settings</h6>
                        </span>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Server Name</label>
                            <input v-model="server_name" type="text" class="form-control"
                                   placeholder="mydatabridge.com">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Priv Key Directory</label>
                            <input v-model="priv_key_directory" type="text" class="form-control"
                                   placeholder="Enter Here">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Cert Directory</label>
                            <input v-model="cert_directory" type="text" class="form-control" placeholder="Enter Here">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Privacy Link</label>
                            <input v-model="privacy_link" type="text" class="form-control" placeholder="Enter Here">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>User Link</label>
                            <input v-model="user_link" type="text" class="form-control" placeholder="Enter Here">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Max Active Bridges</label>
                            <input v-model="max_active_bridges" type="number" class="form-control" placeholder="1" min=1
                                   max=9999>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Rate Limit Per URL</label>
                            <input v-model="rate_limit_per_url" type="number" class="form-control" placeholder="14"
                                   min=1>
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="fn-bold">Allowed Frequency</label>
                            <div class="check-url">
                                <div class="check-forgot">
                                    <div class="form-group remember-check">
                                        <input v-model="af1" v-on:click="on_check_af1" type="checkbox" id="af1">
                                        <label for="af1">5s</label>
                                    </div>
                                </div>
                                <div class="check-forgot">
                                    <div class="form-group remember-check">
                                        <input v-model="af2" v-on:click="on_check_af2" type="checkbox" id="af2">
                                        <label for="af2">1m</label>
                                    </div>
                                </div>
                                <div class="check-forgot">
                                    <div class="form-group remember-check">
                                        <input v-model="af3" v-on:click="on_check_af3" type="checkbox" id="af3">
                                        <label for="af3">5m</label>
                                    </div>
                                </div>
                                <div class="check-forgot">
                                    <div class="form-group remember-check">
                                        <input v-model="af4" v-on:click="on_check_af4" type="checkbox" id="af4">
                                        <label for="af4">1h</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="fn-bold">Available Bridges</label>
                            <div class="check-url">
                                <div class="check-forgot">
                                    <div class="form-group remember-check">
                                        <input v-model="ab1" v-on:click="on_check_ab1" type="checkbox" id="ab1">
                                        <label for="ab1">WSS/WS>WH</label>
                                    </div>
                                </div>
                                <div class="check-forgot">
                                    <div class="form-group remember-check">
                                        <input v-model="ab2" v-on:click="on_check_ab2" type="checkbox" id="ab2">
                                        <label for="ab2">WH>WSS/WS</label>
                                    </div>
                                </div>
                                <div class="check-forgot">
                                    <div class="form-group remember-check">
                                        <input v-model="ab3" v-on:click="on_check_ab3" type="checkbox" id="ab3">
                                        <label for="ab3">WSS/WS>API</label>
                                    </div>
                                </div>
                                <div class="check-forgot">
                                    <div class="form-group remember-check">
                                        <input v-model="ab4" v-on:click="on_check_ab4" type="checkbox" id="ab4">
                                        <label for="ab4">API>WS/WSS</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-lg-12">
                        <span>
                            <h6 class="externel-title">External SMTP Server Configuration Settings</h6>
                        </span>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>SMTP Server Name</label>
                            <input v-model="smtp_server_name" type="email" class="form-control"
                                   placeholder="smtp@gmail.com">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>SMTP Port</label>
                            <input v-model="smtp_port" type="number" class="form-control" placeholder="587">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>SMTP Authentication</label>
                            <input v-model="smtp_authentication" type="text" class="form-control"
                                   placeholder="Enter Here" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>SMTP Enable StartTLS</label>
                            <input v-model="smtp_enable_starttls" type="text" class="form-control"
                                   placeholder="Enter Here" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>SMTP Username</label>
                            <input v-model="smtp_username" type="text" class="form-control" placeholder="Enter Here">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>SMTP Password</label>
                            <input v-model="smtp_password" type="password" class="form-control"
                                   placeholder="Enter Here">
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-lg-12">
                        <div class="edit-user-action">
                            <a href="#" v-on:click="on_test" class="yellow-bg">Test SMTP</a>
                            <a href="#" v-on:click="on_save" class="success-bg">Save</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script>
        var setting_data = {{ setting_data|safe }};
        var server_data = JSON.parse(setting_data.server_setting);
        var allowed_frequency = JSON.parse(setting_data.allowed_frequency);
        var available_bridges = JSON.parse(setting_data.available_bridges);
        var smtp_setting = JSON.parse(setting_data.smtp_setting);

        var setting_vue = new Vue({
            delimiters: ['[[', ']]'],
            el: '#setting_form',
            data: {
                server_name: server_data['server_name'],
                priv_key_directory: server_data['priv_key_directory'],
                cert_directory: server_data['cert_directory'],
                privacy_link: server_data['privacy_link'],
                user_link: server_data['user_link'],
                max_active_bridges: setting_data.max_active_bridges,
                rate_limit_per_url: setting_data.rate_limit_per_url,
                af1: allowed_frequency['af1'],
                af2: allowed_frequency['af2'],
                af3: allowed_frequency['af3'],
                af4: allowed_frequency['af4'],
                ab1: available_bridges['ab1'],
                ab2: available_bridges['ab2'],
                ab3: available_bridges['ab3'],
                ab4: available_bridges['ab4'],
                smtp_server_name: smtp_setting['smtp_server_name'],
                smtp_port: smtp_setting['smtp_port'],
                smtp_authentication: smtp_setting['smtp_authentication'],
                smtp_enable_starttls: smtp_setting['smtp_enable_starttls'],
                smtp_username: smtp_setting['smtp_username'],
                smtp_password: smtp_setting['smtp_password'],
            },
            methods: {
                on_check_af1: function () {

                    this.af1 = !this.af1;
                },
                on_check_af2: function () {

                    this.af2 = !this.af2;
                },
                on_check_af3: function () {

                    this.af3 = !this.af3;
                },
                on_check_af4: function () {

                    this.af4 = !this.af4;
                },
                on_check_ab1: function () {

                    this.ab1 = !this.ab1;
                },
                on_check_ab2: function () {

                    this.ab2 = !this.ab2;
                },
                on_check_ab3: function () {

                    this.ab3 = !this.ab3;
                },
                on_check_ab4: function () {

                    this.ab4 = !this.ab4;
                },
                on_test: function () {

                    $.ajax({
                        url: '{% url 'test_smtp' %}',
                        type: 'POST',
                        data: {
                            'smtp_setting': JSON.stringify({
                                'smtp_server_name': setting_vue.smtp_server_name,
                                'smtp_port': setting_vue.smtp_port,
                                'smtp_authentication': setting_vue.smtp_authentication,
                                'smtp_enable_starttls': setting_vue.smtp_enable_starttls,
                                'smtp_username': setting_vue.smtp_username,
                                'smtp_password': setting_vue.smtp_password
                            })
                        },
                        success: function (res) {
                            if (res.status_code === 200) {
                                swal('Success!', 'SMTP configuration is correct!', 'success');
                            } else {
                                swal('Error!', res.text, 'error');
                            }
                        }
                    });
                },
                on_save: function () {

                    $.ajax({
                        url: '{% url 'save_setting' %}',
                        type: 'POST',
                        data: {
                            'server_setting': JSON.stringify({
                                'server_name': setting_vue.server_name,
                                'priv_key_directory': setting_vue.priv_key_directory,
                                'cert_directory': setting_vue.cert_directory,
                                'privacy_link': setting_vue.privacy_link,
                                'user_link': setting_vue.user_link,
                            }),
                            'max_active_bridges': setting_vue.max_active_bridges,
                            'rate_limit_per_url': setting_vue.rate_limit_per_url,
                            'allowed_frequency': JSON.stringify({
                                'af1': setting_vue.af1,
                                'af2': setting_vue.af2,
                                'af3': setting_vue.af3,
                                'af4': setting_vue.af4
                            }),
                            'available_bridges': JSON.stringify({
                                'ab1': setting_vue.ab1,
                                'ab2': setting_vue.ab2,
                                'ab3': setting_vue.ab3,
                                'ab4': setting_vue.ab4
                            }),
                            'smtp_setting': JSON.stringify({
                                'smtp_server_name': setting_vue.smtp_server_name,
                                'smtp_port': setting_vue.smtp_port,
                                'smtp_authentication': setting_vue.smtp_authentication,
                                'smtp_enable_starttls': setting_vue.smtp_enable_starttls,
                                'smtp_username': setting_vue.smtp_username,
                                'smtp_password': setting_vue.smtp_password
                            })
                        },
                        success: function (res) {
                            if (res.status_code === 200) {
                                swal('Saved!', 'Setting has been saved!', 'success');
                            } else {
                                swal('Error!', res.text, 'error');
                            }
                        }
                    });
                }
            },
            watch: {}
        });
    </script>
{% endblock %}