{% extends "ov/base.html" %}
{% load static %}

{% block title %}
    <title>Users</title>
{% endblock title %}

{% block content %}
    <div class="main-content">
        <div class="user-edit-panel">
            <h3 class="user-title">Users</h3>
            <div class="user-dashboard-title">
                <h2>Active API Bridges: <span>{{ bridges_status.active_api_bridges }}</span></h2>
                <h2>Active WebHook Bridges: <span>{{ bridges_status.active_wh_bridges }}</span></h2>
                <h2>Total Active Bridges: <span>{{ bridges_status.active_total_bridges }}</span></h2>
            </div>
        </div>
        <div class="table-panel">
            <table class="table table-bordered table-hover table-striped" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th style="width: 20px">#</th>
                    <th>Email</th>
                    <th>Name</th>
{#                    <th>Date Joined</th>#}
{#                    <th>Balance</th>#}
                    <th>API Bridges (Total/Active/Inactive)</th>
                    <th>WebHook Bridges (Total/Active/Inactive)</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users_info %}
                    <tr>
                        <td>{{ user.uid }}</td>
                        <td {% if user.is_superuser %}style="font-weight: bold"{% endif %}>
                            {{ user.email }}{% if user.is_superuser %} <i>(Admin)</i>{% endif %}</td>
                        <td {% if user.is_superuser %}style="font-weight: bold"{% endif %}>{{ user.username }}</td>
{#                        <td>{{ user.date_joined }}</td>#}
{#                        <td><b>$</b> {{ user.balance }}</td>#}
                        <td>{{ user.total_api_bridges }} / {{ user.active_api_bridges }}
                            / {{ user.inactive_api_bridges }}</td>
                        <td>{{ user.total_wh_bridges }} / {{ user.active_wh_bridges }}
                            / {{ user.inactive_wh_bridges }}</td>
                        <td>
                            <div class="actions-panel">
                                <a class="yellow-bg super-login" id={{ user.id }}>
                                    <i class="fa fa-sign-in"></i>&nbsp;Login</a>
                                <a href="{% url "edit_user_general" param1=user.id %}" class="blue-bg">
                                    <i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a>
                                <a href="{% url "reset_password" param1=user.id %}" class="white-bg">
                                    <i class="fa fa-refresh"></i>&nbsp;Reset Password</a>
                                <a class="red-bg delete-user" id={{ user.id }}>
                                    <i class="fa fa-trash-o"></i>&nbsp;Delete</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                //disable sorting on last column
                "columnDefs": [
                    {"orderable": false, "targets": 5}
                ],
                language: {
                    //customize pagination prev and next buttons: use arrows instead of words
                    'paginate': {
                        'previous': '<span class="fa fa-chevron-left"></span>',
                        'next': '<span class="fa fa-chevron-right"></span>'
                    },
                    //customize number of elements to be displayed
                    "lengthMenu": 'Display <select class="form-control input-sm">' +
                        '<option value="10">10</option>' +
                        '<option value="20">20</option>' +
                        '<option value="30">30</option>' +
                        '<option value="40">40</option>' +
                        '<option value="50">50</option>' +
                        '<option value="-1">All</option>' +
                        '</select> results'
                }
            });
        });

        $('a.delete-user').on('click', function (e) {
            var user_id = this.id;
            swal({
                    title: 'Are you sure?',
                    text: 'You will not be able to recover this user!',
                    type: 'warning',
                    showCancelButton: true,
                    showSweetAlert: true,
                    confirmButtonColor: '#C50101',
                    confirmButtonText: 'Delete',
                    cancelButtonText: 'Cancel',
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: '{% url 'delete_user' %}',
                            type: 'POST',
                            data: {
                                'user_id': user_id,
                            },
                            success: function (res) {
                                if (res.status_code === 200) {
                                    swal({
                                            title: 'Deleted!',
                                            text: 'User has been deleted!',
                                            type: 'success',
                                            showSweetAlert: true,
                                            confirmButtonColor: '#AEDEF4',
                                            confirmButtonText: 'Show Users',
                                            closeOnConfirm: false,
                                        },
                                        function (isConfirm) {
                                            if (isConfirm) {
                                                window.location.href = '{% url 'user' %}';
                                            }
                                        });
                                } else {
                                    swal('Error!', res.text, 'error');
                                }
                            }
                        });
                    }
                });
        });

        $('a.super-login').on('click', function (e) {
            var user_id = this.id;
            swal({
                    title: 'Are you sure?',
                    text: 'Current session will be logged out and login!',
                    type: 'warning',
                    showCancelButton: true,
                    showSweetAlert: true,
                    confirmButtonColor: '#E0CA00',
                    confirmButtonText: 'Login',
                    cancelButtonText: 'Cancel',
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: '{% url 'super_login' %}',
                            type: 'POST',
                            data: {
                                'user_id': user_id,
                            },
                            success: function (res) {
                                window.location.href = '/';
                            }
                        });
                    }
                });
        });
    </script>
{% endblock %}