{% load static %}

<div class="modal fade" id="wh2ws" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered WebSocket-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">WebHook to WebSocket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L13 13" stroke="#676765" stroke-width="2" stroke-linecap="round"/>
                        <path d="M13 1L1 13" stroke="#676765" stroke-width="2" stroke-linecap="round"/>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <div class="websocket-panel">
                    <div class="change-password">
                        <form id="wh2ws_form">
                            <div class="left-panel">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-9">
                                            <label>Name</label>
                                            <input v-model="name" id="wh2ws_name" type="text" class="form-control" placeholder="Enter here">
                                        </div>
                                        <div class="col-lg-3" style="padding-top: 11px">
                                            <a href="#" v-on:click="on_format" class="formate blue-bg" data-toggle="modal" data-target="#formate">Format</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>WebHook Address</label>
                                    <div class="copybutton">
                                        <input v-model="wh_address" type="text" class="form-control" placeholder="Enter here" readonly>
                                        <div v-on:click="on_copy_wh" class="copy-icon integration-checklist__copy-button">
                                            <img src="{% static "img/icons/copy.png" %}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>WebSocket Address</label>
                                    <div class="copybutton">
                                        <input v-model="ws_address" type="text" class="form-control" placeholder="Enter here" readonly>
                                        <div v-on:click="on_copy_ws" class="copy-icon integration-checklist__copy-button">
                                            <img class="integration-checklist__copy-button" src="{% static "img/icons/copy.png" %}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="right-button-panel example">
                                <a href="#" v-on:click="on_delete" class="websocket-button red-bg">Delete</a>
                                <a href="#" v-on:click="on_reset" class="websocket-button yellow-bg">Reset</a>
                                <a href="#" v-on:click="on_save" class="websocket-button green-bg">Save</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    let wh2ws_vue = new Vue({
        delimiters: ['[[', ']]'],
        el: '#wh2ws_form',
        data: {
            id: 0,
            name: '',
            wh_address: '',
            ws_address: '',
        },
        methods: {
            on_format: function () {

                focus_on_element('search_word');
            },
            on_delete: function () {

                delete_bridge(this.id);
            },
            on_reset: function () {

                swal({
                        title: 'Are you sure?',
                        text: 'All configurations for this bridge will be cleared!',
                        type: 'warning',
                        showCancelButton: true,
                        showSweetAlert: true,
                        confirmButtonColor: '#E0CA00',
                        confirmButtonText: 'Reset',
                        cancelButtonText: 'Cancel',
                        closeOnConfirm: true,
                        closeOnCancel: true
                    },
                    function (isConfirm) {
                        if (isConfirm) {
                            wh2ws_vue.name = '';
                            wh2ws_vue.wh_address = wh_host + gen_rp(10) + '/' + gen_rp(20);
                            wh2ws_vue.ws_address = ws_host + gen_rp(10) + '/' + gen_rp(20);
                            reset_format();
                            focus_on_element('wh2ws_name');
                        }
                    });
            },
            on_save: function () {

                if (this.name === '') {
                    $('#wh2ws_name').focus();
                    return;
                }

                save_bridge({
                    'id': this.id,
                    'name': this.name,
                    'type': 2,
                    'src_address': this.wh_address,
                    'dst_address': this.ws_address,
                    'format': JSON.stringify({
                        'search_word': format_vue.search_word,
                        'replace_word': format_vue.replace_word,
                        'any': format_vue.any
                    })
                });
            },
            on_copy_wh: function () {

                copy_text(this.wh_address);
            },
            on_copy_ws: function () {

                copy_text(this.ws_address);
            }
        },
        watch: {
            name: function (cur_val, prev_val) {
                if (cur_val.length > 64)
                    this.name = prev_val;
            }
        }
    });
    
    function open_wh2ws(bridge_info) {

        wh2ws_vue.id = bridge_info.id;
        wh2ws_vue.name = bridge_info.name;
        wh2ws_vue.wh_address = bridge_info.src_address;
        wh2ws_vue.ws_address = bridge_info.dst_address;
        $('#wh2ws').modal('show');
        focus_on_element('wh2ws_name');
    }
</script>