{% extends "auth/base.html" %}
{% load static %}

{% block title %}
    <title>Login</title>
{% endblock title %}

{% block content %}
    <form name="loginform" class="red-form" method="post">
        <div class="form-group">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                    <path d="M14.9051 12.5928C13.6057 11.2734 11.8831 10.5469 10.0547 10.5469H7.94531C6.11691 10.5469 4.39432 11.2734 3.09495 12.5928C1.80193 13.9057 1.61719 14.1692 1.08984 16.1869C1.08984 16.4782 1.08984 16.7143 1.61719 16.7143H16.3125C16.9102 16.7143 16.9102 16.4782 16.9102 16.1869C16.3125 14.0625 16.1981 13.9057 14.9051 12.5928Z"
                          fill="#676765"/>
                    <path d="M15.7871 11.6859C11.7337 9.43803 6.26564 9.43803 2.21353 11.6859C1.46485 12.1002 1 12.8551 1 13.6557V17H17V13.6557C17 12.8551 16.5351 12.1002 15.7871 11.6859Z"
                          fill="#676765"/>
                    <path d="M12 1.31802C13.7574 3.07539 13.7574 5.92459 12 7.68197C10.2426 9.43934 7.39343 9.43934 5.63606 7.68197C3.87869 5.92459 3.87869 3.07539 5.63606 1.31802C7.39343 -0.439359 10.2426 -0.439319 12 1.31802Z"
                          fill="#676765"/>
                </g>
                <defs>
                    <clipPath id="clip0">
                        <rect width="18" height="18" fill="white"/>
                    </clipPath>
                </defs>
            </svg>
            <div class="validate-msg">
                <input type="text" name="username" class="form-control enter-control" placeholder="Login" autofocus>
                <div class="invalid-feedback">
                    Login id is not valid
                </div>
            </div>
        </div>
        <div class="form-group">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                    <path d="M9.53181 7.36354C8.85681 5.45716 7.04455 4.09082 4.90909 4.09082C2.19682 4.09082 0 6.28764 0 8.99992C0 11.7122 2.19682 13.909 4.90909 13.909C7.04455 13.909 8.85681 12.5426 9.53181 10.6363H13.0909V13.909H16.3636V10.6363H18V7.36354H9.53181ZM4.90909 10.6363C4.00502 10.6363 3.27272 9.90399 3.27272 8.99988C3.27272 8.09576 4.00502 7.36354 4.90909 7.36354C5.81317 7.36354 6.54547 8.0958 6.54547 8.99992C6.54547 9.90403 5.81317 10.6363 4.90909 10.6363Z"
                          fill="#676765"/>
                </g>
                <defs>
                    <clipPath id="clip0">
                        <rect width="18" height="18" fill="white"/>
                    </clipPath>
                </defs>
            </svg>
            <div class="validate-msg">
                <input type="password" name="password" class="form-control enter-control" placeholder="Password">
                <div class="invalid-feedback">
                    Password is not valid
                </div>
            </div>
        </div>
        <div class="check-forgot">
            <div class="form-group remember-check">
                <input type="checkbox" id="remember_me">
                <label for="remember_me">Remember me</label>
            </div>
            <a href="{% url "password_reset" %}">Forgot password</a>
        </div>
        <div class="form-group login-action">
            <a href="javascript:submit_form();" class="change-paddword dark-green">LOGIN</a>
            <a href="{% url "signup" %}" class="register-btn">REGISTER</a>
        </div>
    </form>
{% endblock content %}

{% block javascript %}
    <script>
        $(document).ready(function () {

            if (localStorage.remember_me) {
                document.getElementsByName('username')[0].value = localStorage.username;
                document.getElementById('remember_me').checked = true;
            }

            {% if alert %}
                show_invalid_feedback_border('username');
                show_invalid_feedback_border('password');
                document.getElementsByName('username')[0].focus();
            {% endif %}

            document.getElementsByName('username')[0].focus();
        });

        function submit_form() {

            var username = document.getElementsByName('username')[0].value;
            var password = document.getElementsByName('password')[0].value;

            if (username === '') {
                show_invalid_feedback_border('username');
                return;
            }

            if (password === '') {
                show_invalid_feedback_border('password');
                return;
            }

            if (document.getElementById('remember_me').checked) {
                localStorage.remember_me = 'checked';
                localStorage.username = username;
            } else {
                localStorage.remember_me = '';
                localStorage.username = '';
            }

            document.loginform.submit();
        }
    </script>
{% endblock javascript %}
